.heading{
    display: flex;
    color: #a82723;
    background-color: rgba(232, 230, 230, 0.412);
    gap: .5rem;
    align-items:center ;
    justify-content: space-between;
}

#sign-in{
    color: #a82723;
    background-color: white;
    height: 2rem;
    

}

.post{
    background-color: beige;
    width: 25rem;
    margin-left: .5rem;
    padding-left: 1.5rem;
}