body{
    text-align: center;
}
.container{
    display: flex;
    
    justify-content: center;
}

.box{
    background-color: aqua;
    border-radius: 1rem;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin: 1rem;
    
}

.red{
    background-color: brown;
}

.yellow{
    background-color: burlywood;
}

.green{
    background-color: green;
}

.blue{
    background-color: rgb(53, 53, 195);
}

.flash{
    background-color: aliceblue;
}