h1{
    color: cornflowerblue;
    background-color: blanchedalmond;
}

h2{
    color: orange;
}

button{
    color: blue;
    background-color: azure;
}

p{
    color: azure;
    background-color: black;
}