*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: #efefef;
}
.main{

    display: flex;
    height: 100vh;
    margin: 0;
    
}
.side-bar{
    background-color: #121212;
    width: 300px;
    border-radius: 1rem; /*1 rem = 16px*/
    margin: 5px;
}
.lib{
    position: relative;
}
.side-bar .upper{
    margin-top: 20px;
    margin-bottom: 20px;

}

.side-bar .library{
    background-color: #1f1f1f;
    height: 1rem;
    display: flex;
    height: 3rem;
    border-radius: 1rem;
    padding: 1rem 0;
    font-weight: 300;

}

.playlist .btn{
    color: black;
    border-radius: 0.75rem ;
    position: relative;
    left: 20px;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 5px;
}
.side-bar .playlist{
    background-color: #1f1f1f;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

.side-bar .podcasts{
    background-color: #1f1f1f;
    border-radius: 1rem;
    padding: 1rem;
    padding-bottom: 20px;
    margin-top: 1rem;
}
.podcasts .btn{
    /* color: black; */
    border-radius: 0.75rem;
    position: relative;
    left: 20px;
    font-size: 1.25rem ;
    font-weight: 400;
    padding: 5px;
}

.main-content{
    background-color: #121212;
    flex: 1;  /*It will take remaining all the spaces in the width */
    border-radius: 1rem;
    overflow-y: auto;
    scrollbar-width: thin;
    margin-right: 5px;
}



.music-player{
    background-color: black;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 72px;
    margin-left: 5px;
    margin-right: 5px;
    
    
   
}

.upper img{

    height: 1rem;
    width: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    opacity: .5;
    

}

.nav{
    background-color: #1f1f1f;
    border-radius: 1rem;
    padding-left: 10px;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    
}

.nav a{
    color: #efefef;
    opacity: .5;
    text-decoration: none;
}

.nav a:hover{
    opacity: 1;
}

.upper a{
    color: #efefef;
    opacity: .5;
    text-decoration: none;
}

.upper a:hover{
    opacity: 1;
}
.upper img:hover{
    opacity: 1;
}

